fastapi[standard]
uvicorn
PyPDF2
transformers
torch
qdrant-client
pinecone-client[grpc]
python-dotenv
# pydantic
langchain
openai
faiss-cpu
tiktoken
pymongo
langchain-community
langchain_core
llama-index-core 
llama-parse 
llama-index-readers-file
pika
pyjwt
boto3
botocore
langchain_openai