fastapi[standard]
uvicorn
PyPDF2
transformers
torch
qdrant-client
python-dotenv
pydantic
langchain
openai
faiss-cpu
tiktoken
bson
pymongo
langchain-community
langchain_core
llama-index-core 
llama-parse 
llama-index-readers-file
